<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sourav </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/Dashboard">Dashboard</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/SerchTeacher">Teacher Management</a></li>
          <li><a routerLink="/CreateTeacher">Create Teacher</a></li>
          <li><a href="#">Course Management</a></li>
          <li><a href="#">Fees Management</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Student Management</a></li>
          <li><a href="#">Fees Collection</a></li>
          <li><a href="#">Student Attendece</a></li>
          <li><a href="#">Teacher Attendece</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Report Dashboard</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>