/* You can add global styles to this file, and also import other style files */
.body-color {
    background-color:rgba(223, 223, 223, 1);
}

.mt-10 {
    margin-top: 10px;
}
.mt-8 {
    margin-top: 8px;
}
.ml-10 {
    margin-left: 10px;
}

.card-style-1 {
    padding: 20px;
    margin-bottom: 20px;
    background-color:#fff;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(126,142,159,0.1);
}
