/* You can add global styles to this file, and also import other style files */

/* Background color of the screen's content area  */
.body-color {
    background-color:rgba(223, 223, 223, 1);
}

/* This class used to give space between two buttons in a row.  */
.btn-space {
    margin-right: 15px;
}

/* Width of the content area */
.body-content {    
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 92%;
    margin: 15px 4% 52px 4%;     
}

.mt-10 {
    margin-top: 10px;
}
.mt-8 {
    margin-top: 8px;
}
.ml-10 {
    margin-left: 10px;
}

.mt-24 {
    margin-top: 24px;  
}

/* Card Style - Outer Card */
.card-style-main {
    padding: 20px;
    margin-bottom: 2 0px;
    background-color:#fff;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(126,142,159,0.1);
}

/* Outer Card - Header Text */
.main-title {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'gothic';
    color: #02788F
}

/* Card Style - Inner Card */
.odd-card {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #E5EBEA;
    background: #E5EBEA;
    box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
}

/* Inner Card - Header Text */
.card-title {
    font-size: 15px;
    font-family: Microsoft Sans serif;
    margin-top: 0px;
    margin-bottom:15px;
    color: #02788F;
    font-weight: 550 !important;
}

/* This tag will be used for creating field mandatory */
sup {
    color: #ff0000;
    font-size: 100%;
    top: -.0em;
}

/* Collapse Styles */

.panel-group {
    margin-bottom: 5px;
}

    .panel-group .panel-heading {
        padding: 10px 15px;
        background: #8e9996;
    }

        .panel-group .panel-heading .panel-title {
            color: #10364d;
            line-height: 18px;
            font-family: 'gothic';
            font-size: 16px;
            font-weight: bold;
        }

        .panel-group .panel-heading a:hover, .panel-group .panel-heading a:focus {
            text-decoration: none;
        }      

    .panel-group .panel-body {
        padding: 10px;
        padding-bottom: 8px;
    }

/* Collapse Styles End */



