<div class="row card-style-main">
    <h4 class="main-title">User Login</h4>
    <div class="odd-card">
      <div class="panel-group mb-0">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#">
                Login Information
              </a>
            </h4>
          </div>
  
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group mb-0">
                  <label for="AccountName" class="form-label">User Name</label>
                  <input type="text" placeholder="User Name" id="AccountName" class="form-control form-field" />
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group mb-0">
                  <label for="AccountName" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="btn-wrap pb-0 mt-24">
                  <button class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Forget Password -->
    <div class="odd-card">
        <div class="panel-group mb-0">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="#">
                  Forget Password
                </a>
              </h4>
            </div>
    
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="form-group mb-0">
                    <label for="AccountName" class="form-label">Email</label>
                    <input type="text" placeholder="User Name" id="AccountName" class="form-control form-field" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="btn-wrap pb-0 mt-24">
                    <button class="btn btn-primary"><i class="fa fa-search"></i>Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  </div>