<div class="row card-style-main">
  <h4 class="main-title">Create Teacher Details</h4>
  <div class="odd-card">
    <h4 class="card-title">Personal Details</h4>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">First Name
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Middle Name
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
    </div>
  </div>
  <div class="odd-card">
    <h4 class="card-title">Address Details</h4>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Address Line1
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Address Line2
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Landmark
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">City
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">State
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
          <label for="exampleInputEmail1">PIN Code
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Email Id
              <sup>*</sup>
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Contact Number
              <sup>*</sup>
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
          </div>
        </div>
      </div>
  </div>
  <div class="odd-card">
      <h4 class="card-title">Course Details</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Select Course
              <sup>*</sup>
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Select Sub-Course
              <sup>*</sup>
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User Name">
          </div>
        </div>
      </div>
    </div>
</div>